/****** General ***********/
:focus-visible {
    outline: rgb(212, 175, 55) auto 1px;
    transform: translateY(-8px) scale(1.01);
    box-shadow: 0 15px 25px rgba(0, 34, 68, 0.2);
} 
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    scroll-behavior: smooth;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin-top: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

/*** header début ***/
header {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.header-logo {
    width: 61px;
    height: 19px;
    padding: 30px 0;
}
.header-nav ul {
    display: flex;
    gap: 68px; 
    list-style: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
}

.header-nav a:hover {
    border-top: 2px solid var(--main-color);
    color: var(--main-color);
    padding: 13px 0;
}
/*** header fin ***/

/*** page-intro search filters info ***/
.page-intro {
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.page-header {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.page-title {
    font-size: 22px;
    line-height: 100%;
    margin-bottom: 0;
}
.page-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    margin-top: 0;
    margin-bottom: 0;
}
.search-icon {
    width: 50px;
}
.search-bar{
    max-width: fit-content;
    height: 49px;
    border: 1px solid var(--main-bg-color);
    border-radius: 15px;
    display: flex;
    box-sizing: border-box;
}
.search-input {
    border: none;
    width: 195px;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    color: #000000;
    text-align: center;
}

.search-button {
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    max-width: 132px;
    padding: 15px 16px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.search-bar button:hover {
    background-color: var(--filter-bg-color);
    color: var(--main-color);
}
.search-button i {
    max-width: 49px;
    max-height: 49px;
    padding: 15px 16px;
    background-color: var(--main-color);
    color: #FFFFFF;
    border-radius: 15px;
}

.filters {
    display: flex;
    align-items: center;
    gap: 15px;
}
.filters-label {
    font-weight: bold;
    font-size: 18px;
    line-height: 100%;
    color: #000000;
}
.filters button {
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 25px;
    border: 2px solid #D9D9D9;
    padding: 4px 19px;
    gap: 10px;
    background-color: #FFFFFF;
    font-weight: bold;
    font-size: 17px;
    color: #000000;
}
.filters button:hover {
    background-color: var(--filter-bg-color);
}
.filters-buttons {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.information-section {
    display: flex;
    gap: 10px;
    align-items: center;
}
.information-icon {
    max-width: 24px;
    max-height: 24px;
}
.information-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
}
/*** page-intro search filters info fin ***/
a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.card:hover {
    background-color: var(--filter-bg-color);
    transform: translateY(-5px) scale(1.02);
}
.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 15px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.hebergements-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    grid-auto-rows: 1fr;
}
.hebergements-cards article {
    max-width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.hebergements-cards img {
    width: 100%;
    height: 114px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.hebergements-cards .card-txt {
    padding: 0 15px;
}
.hebergements-cards .card-title {
    margin: 5px 0;
    
}
.hebergements-cards .card-subtitle {
    margin: 0;
}
.hebergements-cards .card-rating {
    padding: 0 15px;
}
.hebergements-cards .card-content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 8px;
    justify-content: space-between;
    flex: 1;
}
.display-link {
    padding: 30px 0;
}
.display-link a{
    font-weight: 700;
    font-size: 18px;
}
.display-link a:hover {
    color: var(--main-color);
}
/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}
.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
    display: flex;
    align-items: end;
    padding-bottom: 5px;
}

/*** Activités à Marseille ***/
.activites {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
}
.activites-cards {
    display: flex;
    max-width: 1340px;
    gap: 30px;
    align-items: stretch;
}
.activites-cards a {
    flex: 1;
    display: flex;
}
.activites-cards article {
    width: 100%;
    padding: 0;
    height: 439px;
}
.activites-cards img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    height: 380px;
    display: block;
}
.activites-cards .card-title {
    padding: 20px 19px;
    margin: 0;
}

/*** footer début ***/
.footer {
    display: flex;
    max-width: 1340px;
    background-color: var(--main-bg-color);
}
.footer div {
    flex: 1;
    padding: 20px;
}   
.footer h3 {
    font-size: 18px;
    line-height: 100%;
}
.footer a {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
}
.footer-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer a:hover {
    color: var(--main-color);
}
/*** footer fin ***/

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
@media (max-width: 1440px) {
    .search-button i {
        display: none;
    }
}
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .filters {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .filters-buttons button {
        font-size: 16px;
        padding: 4px 15px;
    }
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .activites-cards img {
        height: 200px;
    }
    .activites-cards article {
        height: auto;
}
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    header {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 30px;
        gap: 0;
    }
    .header-nav ul {
        margin: 0;
        padding: 0;
    }
    .header-nav a:hover {
        border-top: none;
        border-bottom: 2px solid var(--main-color);
    }
    .search-button span {
        display: none;
    }
    .search-button {
        background-color: transparent;
        border: none;
        padding: 15px 0;
    }
    .search-button i {
        display: flex;
    }
    .hebergements-cards {
        grid-template-columns: 1fr;
    }
    .hebergements-cards article {
        max-width: none;
    }
    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    }

    .activites-cards {
        flex-direction: column;
}
    .footer {
        flex-direction: column;
    }
    .page-intro {
        padding: 0 20px;
    }
    .main-container {
        padding: 0;
        box-sizing: border-box;
    }
   body {
    margin: 0;
   }
   .hebergements-and-populaires .hebergements {
    background-color: #FFFFFF;
   }
   .hebergements-and-populaires button {
    background-color: #FFFFFF;
   }
   .hebergements-and-populaires .populaires {
    background-color: var(--main-bg-color);
   }
   .hebergements-and-populaires {
    flex-direction: column-reverse;
   }
   .activites-cards img {
        height: 141px;
}
}
